/*headerここから*/
header {
	background-color: #1cace0;
	color: #fff;
	font-size: 18px;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}

.fixed {
	position: fixed;
	width: 100%;
	margin-top: -70px;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: 80px;
}

.icon img {
	height: 60px;
}

.icon .name strong {
	color: #eae51f;
}

.header-right {
	display: flex;
	align-items: center;
	margin-right: 80px;
}

.header-right li:first-child{
	margin-right: 20px;
}
/*headerここまで*/

/*welcomeここから*/
#margin-for-fixed {
	margin-top: 70px;
}

.welcome {
	height: 500px;
	background-image: url(../img/background1.jpg);
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-size: 64px;
}

.guideline {
	font-size: 28px;
	font-weight: bold;
	margin-top: 50px;
}

.guideline li {
	margin-top: 16px;
}

.btn-group {
	margin-top: 60px;
}

.btn {
	height: 55px;
	width: 170px;
	color: #fff;
	border-radius: 10px;
	font-size: 28px;
	cursor: pointer;
	margin-left: 120px;
}


.btn:first-child {
	margin-left: 0;
}

.register {
	background-color: rgba(29,172,224, .5);
	border: 3px solid rgba(29,172,224, .3);
}

.register:hover {
	background-color: rgb(29,172,224);
}

.login {
	background-color: rgba(236,227,35, .5);
	border: 3px solid rgba(236,227,35, .3);
}

.login:hover {
	background-color: rgb(236,227,35);
}

/*welcomeここまで*/

/*curriclumここから*/
.curriculum {
	margin-top: 50px;
}

.subtitle {
	font-size: 36px;
	text-align: center;
}

.img-box {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.img-box li {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right: 60px;
}

.img-box li img {
	height: 300px;
	width: 300px;
}

.img-box li span {
	font-size: 24px;
	margin-top: 20px;
}

.img-box li:last-child {
	margin-right: 0;
}
/*curriclumここまで*/

/*contact usここから*/
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 350px;
	margin-top: 50px;
	background-color: #ebf4f5;
}

.contact .form {
	margin: 50px 0 40px;
	display: flex;
	justify-content: center;
}

.form-left {
	margin-right: 50px;
}

.form .name {
	margin-bottom: 20px;
}

.form .name, .form .email {
	height: 50px;
	width: 400px;
	box-sizing: border-box;
	font-size: 16px;
}

.form .inquiry {
	height: 120px;
	width: 400px;
	box-sizing: border-box;
	font-size: 16px;
}

.contact button {
	background-color: #1dace0;
	color: #fff;
	border: 3px solid #1dace0;
	border-radius: 10px;
	font-size: 24px;
	padding: 15px 30px;
	box-sizing: border-box;
	transition-duration: 500ms;
}
/*contact usここまで*/

/*footerここから*/
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #233f51;
	color: #fff;
	font-size: 18px;
	padding: 5px;
}

footer .footer-right {
	margin-right: 80px;
}
/*footerここまで*/


/*レスポンシブ対応*/

/*小型PC用*/
@media screen and (max-width: 1280px) {
	.img-box li {
		margin-right: 30px;

	}
}

/*タブレット*/
/*@media screen and (max-width: 960px) {
}*/

/*スマホ*/
@media screen and (max-width: 480px) {
	body {
		min-width: 375px;
	}

	/*header*/
	.icon {
		margin-left: 20px;
	}

	.icon .name {
		display: none;
	}

	.header-right {
		display: none;
	}
	/*headerここまで*/

	/*welcome*/
	.title {
		font-size: 30px;
	}

	.guideline {
		margin-top: 30px;
		font-size: 24px;
		font-weight: normal;
	}

	.btn-group {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		margin-top: 40px;
	}

	.btn {
		height: 48px;
		width: 140px;
		font-size: 20px;
		margin-left: 0;
		margin-top: 20px;
		font-weight: bold;
		border-radius: 10px;
	}

	.btn:first-child {
		margin-top: 0;
	}
	/*welcomeここまで*/

	/*curriculum*/
	.img-box {
		flex-flow: column nowrap;
	}

	.img-box li {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0;
	}
	/*footer*/

}